## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,51.91,82,88,11.16,light rain
1,1,Mahebourg,MU,-20.4081,57.7000,68.29,94,40,3.44,light rain
2,2,Darnah,LY,32.7670,22.6367,75.76,72,0,15.43,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,80.76,89,75,10.36,broken clouds
4,4,Maramba,TZ,-5.0500,38.6167,61.90,92,100,1.19,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Darnah,LY,32.7670,22.6367,75.76,72,0,15.43,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,80.76,89,75,10.36,broken clouds
8,8,Madras,IN,13.0878,80.2785,82.38,74,75,4.61,haze
10,10,Butaritari,KI,3.0707,172.7902,83.05,72,95,13.29,overcast clouds
11,11,Meulaboh,ID,4.1363,96.1285,78.12,77,99,3.31,overcast clouds
15,15,Rikitea,PF,-23.1203,-134.9692,73.83,69,1,14.07,clear sky
18,18,Sinnamary,GF,5.3833,-52.9500,79.57,85,0,9.40,clear sky
21,21,Longhua,CN,23.6137,114.1919,87.91,61,21,1.30,light rain
23,23,Kearney,US,40.6995,-99.0815,80.51,54,1,16.11,clear sky
26,26,Georgetown,MY,5.4112,100.3354,82.33,87,20,2.30,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                307
City                   307
Country                307
Lat                    307
Lng                    307
Max Temp               307
Humidity               307
Cloudiness             307
Wind Speed             307
Current Description    307
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Darnah,LY,32.7670,22.6367,75.76,72,0,15.43,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,80.76,89,75,10.36,broken clouds
8,8,Madras,IN,13.0878,80.2785,82.38,74,75,4.61,haze
10,10,Butaritari,KI,3.0707,172.7902,83.05,72,95,13.29,overcast clouds
11,11,Meulaboh,ID,4.1363,96.1285,78.12,77,99,3.31,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
650,650,Tall Kayf,TR,37.0833,41.0667,72.59,43,0,6.06,clear sky
652,652,Kahului,US,20.8947,-156.4700,83.97,73,87,6.49,overcast clouds
653,653,Tiarei,PF,-17.5333,-149.3333,84.22,75,2,17.22,clear sky
655,655,Tsogni,GA,-2.7942,10.0988,75.47,88,99,5.95,overcast clouds
660,660,Manggar,ID,-2.8833,108.2667,83.05,71,97,6.31,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Darnah,LY,75.76,clear sky,32.7670,22.6367,
3,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
8,Madras,IN,82.38,haze,13.0878,80.2785,
10,Butaritari,KI,83.05,overcast clouds,3.0707,172.7902,
11,Meulaboh,ID,78.12,overcast clouds,4.1363,96.1285,
15,Rikitea,PF,73.83,clear sky,-23.1203,-134.9692,
18,Sinnamary,GF,79.57,clear sky,5.3833,-52.9500,
21,Longhua,CN,87.91,light rain,23.6137,114.1919,
23,Kearney,US,80.51,clear sky,40.6995,-99.0815,
26,Georgetown,MY,82.33,few clouds,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"  

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Darnah,LY,75.76,clear sky,32.7670,22.6367,فندق الفردوس
3,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Madras,IN,82.38,haze,13.0878,80.2785,City home
10,Butaritari,KI,83.05,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
11,Meulaboh,ID,78.12,overcast clouds,4.1363,96.1285,Kost Pria
...,...,...,...,...,...,...,...
650,Tall Kayf,TR,72.59,clear sky,37.0833,41.0667,
652,Kahului,US,83.97,overcast clouds,20.8947,-156.4700,Maui Seaside Hotel
653,Tiarei,PF,84.22,clear sky,-17.5333,-149.3333,Le Rocher de Tahiti
655,Tsogni,GA,75.47,overcast clouds,-2.7942,10.0988,
660,Manggar,ID,83.05,overcast clouds,-2.8833,108.2667,Guest Hotel

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name']!=u'']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Darnah,LY,75.76,clear sky,32.7670,22.6367,فندق الفردوس
3,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Madras,IN,82.38,haze,13.0878,80.2785,City home
10,Butaritari,KI,83.05,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
11,Meulaboh,ID,78.12,overcast clouds,4.1363,96.1285,Kost Pria
...,...,...,...,...,...,...,...
648,Neiafu,TO,83.08,few clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
649,Gazanjyk,TM,74.17,clear sky,39.2446,55.5154,Railway motel
652,Kahului,US,83.97,overcast clouds,20.8947,-156.4700,Maui Seaside Hotel
653,Tiarei,PF,84.22,clear sky,-17.5333,-149.3333,Le Rocher de Tahiti
660,Manggar,ID,83.05,overcast clouds,-2.8833,108.2667,Guest Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and
<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
2    32.7670   22.6367
3   -21.2000 -175.2000
8    13.0878   80.2785
10    3.0707  172.7902
11    4.1363   96.1285
..       ...       ...
648 -18.6500 -173.9833
649  39.2446   55.5154
652  20.8947 -156.4700
653 -17.5333 -149.3333
660  -2.8833  108.2667

[274 rows x 2 columns]

In [13]:
# 11a. Add a marker layer for each city to the map. 

max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))