## Deliverable 3. Create a Travel Itinerary Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [25]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../""Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Darnah,LY,75.76,clear sky,32.7670,22.6367,فندق الفردوس
1,3,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
2,8,Madras,IN,82.38,haze,13.0878,80.2785,City home
3,10,Butaritari,KI,83.05,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
4,11,Meulaboh,ID,78.12,overcast clouds,4.1363,96.1285,Kost Pria

In [26]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and
<dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    32.7670   22.6367
1   -21.2000 -175.2000
2    13.0878   80.2785
3     3.0707  172.7902
4     4.1363   96.1285
..       ...       ...
269 -18.6500 -173.9833
270  39.2446   55.5154
271  20.8947 -156.4700
272 -17.5333 -149.3333
273  -2.8833  108.2667

[274 rows x 2 columns]

In [27]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cedar City"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cedar City"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] =="Fort Carson"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] =="Price"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] =="Pocatello"]

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,641,Cedar City,US,83.37,clear sky,37.6775,-113.0619,Hampton Inn Cedar City
1,307,Fort Carson,US,85.42,clear sky,38.7375,-104.7889,Cheyenne Mountain Estates
2,534,Price,US,78.40,clear sky,39.5994,-110.8107,National 9 - Price River Inn
3,376,Pocatello,US,82.31,clear sky,42.8713,-112.4455,Clarion Inn Pocatello
4,641,Cedar City,US,83.37,clear sky,37.6775,-113.0619,Hampton Inn Cedar City

In [36]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and
<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0  37.6775 -113.0619
1  38.7375 -104.7889
2  39.5994 -110.8107
3  42.8713 -112.4455
4  37.6775 -113.0619

In [37]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))